.shelf-inner__book-wrapper
  .book-area
    .book-area-image
      .book-image
        = link_to edit_book_review_path(review.book, review) do
          = image_tag image_url(review.book)
    .book-area-buttons
