%footer.footer
  .nav-wrapper
    %nav.nav01
      %h3 本と出会う
      %ul
        %li
          %a.footer-link{href: "#"}
            ランキング
        %li
          %a.footer-link{href: "#"}
            新刊情報
        %li
          %a.footer-link{href: "#"}
            新着レビュー
        %li
          %a.footer-link{href: "#"}
            ブクログ談話室
        %li
          %a.footer-link{href: "#"}
            ブクログ大賞
        %li
          %a.footer-link{href: "#"}
            ブクログまとめ
        %li
          %a.footer-link{href: "#"}
            ブクログ特集
        %li
          %a.footer-link{href: "#"}
            ブクログ通信
    %nav.nav02
      %h3 本を探す
      %ul
        %li
          %a.footer-link{href: "#"}
            キーワードで検索
        %li
          %a.footer-link{href: "#"}
            タグから検索
      %h3 本棚を探す
      %ul
        %li
          %a.footer-link{href: "#"}
            プロフィールから本棚を探す
        %li
          %a.footer-link{href: "#"}
            ブクログID 検索
      %h3 ブクログ
      %ul
        %li
          %a.footer-link{href: "#"}
            iPhoneアプリ
        %li
          %a.footer-link{href: "#"}
            その他ブクログアプリ
    %nav.nav03
      %h3 公式本棚
      %ul
        %li
          %a.footer-link{href: "#"}
            ブクログスタッフの本棚
        %li
          %a.footer-link{href: "#"}
            芥川賞の本棚
        %li
          %a.footer-link{href: "#"}
            直木賞の本棚
        %li
          %a.footer-link{href: "#"}
            TVドラマ原作本棚
        %li
          %a.footer-link{href: "#"}
            映画の原作本棚
        %li.separation
          %a.footer-link{href: "#"}
            アニメの原作本棚
        %li
          %a.footer-link{href: "#"}
            ブクログ公式本棚一覧
        %li
          %a.footer-link{href: "#"}
            公式本棚の新着情報
      %h3 ようこそブクログへ
      %ul
        %li
          %a.footer-link{href: "#"}
            ブクログについて
        %li
          %a.footer-link{href: "#"}
            はじめての方へ
        %li
          %a.footer-link{href: "#"}
            チュートリアル
    %nav.nav04
      %h3 サポート
      %ul
        %li
          %a.footer-link{href: "#"}
            お知らせブログ
        %li
          %a.footer-link{href: "#"}
            ヘルプ
        %li.separation
          %a.footer-link{href: "#"}
            お問い合わせ
        %li
          %a.footer-link{href: "#"}
            広告掲載について
        %li.separation
          %a.footer-link{href: "#"}
            メディア掲載情報
        %li
          %a.footer-link{href: "#"}
            公式Twitter
        %li
          %a.footer-link{href: "#"}
            Facebookページ
        %li
          %a.footer-link{href: "#"}
            ブクログ公式グッズ
    %nav.banner-wrapper
      %ul.banner-ul
        %li
        = image_tag '/assets/ad2.png'
        %li.t10M
        = image_tag '/assets/banner.png'
  .footer-navi
    %ul
      %li 利用規約
      %span.menu-partition
      %li Cookieの使用について
      %span.menu-partition
      %li 会社概要
      %span.menu-partition
      %li プライバシーポリシー
    .copyright
      Copyright © 2018 Booklog,Inc. All Rights Reserved.
