.right-side
  %aside.right-side--top
    .ad-300-600
  %dl.right-side--main
    %dt 本と出会う
    %dd
      %p ランキング
      %ul
        %li
          %a 速報ランキング
        %li
          %a 週間ランキング
        %li
          %a 月間ランキング
        %li
          %a みんなのベスト3
        %li
          %a オーディオブック
      %p 年間ランキング
      %ul
        %li
          %a 2017年のランキング
        %li
          %a 2016年のランキング
        %li
          %a 2015年のランキング
      %p 新刊情報
      %ul
        %li
          %a 新刊情報
        %li
          %a 電子書籍［IT系技術書］
      %p レビュー
      %ul
        %li
          %a 新着レビュー
      %p おすすめ
      %ul
        %li
          %a ブクログ公式本棚
        %li
          %a ブクログ公式本棚の新着情報
        %li
          %a ブクログ特集
      %p 本棚を探す
      %ul
        %li
          %a プロフィールから本棚を探す
        %li
          %a ブクログID 検索
  %aside.right-side--bottom
    .ad-300-250
