.page--right-side
  %aside.right-side--top
    .ad-300-600
  %dl.right-side--main
    %dt いろいろな設定
    %dd
      %p 本棚の設定
      %ul
        %li
          %a 本棚の基本設定
        %li
          %a タイムラインの設定
        %li
          %a 本棚の非公開設定
        %li
          %a プロフィールの設定
        %li
          %a アカウント情報
        %li
          %a レビュー掲載範囲の設定
        %li
          %a パスワードの変更
        %li
          %a 退会
      %p 外部サービス連携
      %ul
        %li
          %a.sns SNSアカウントの設定
          %i.fa.fa-twitter-square.fa-lg.bl-twitter-square
          %i.fa.fa-facebook-square.fa-lg.bl-facebook-square
        %li
          %a Amazonアフィリエイト設定
        %li
          %a 投稿ログ
      %p 通知設定
      %ul
        %li
          %a 通知設定
        %li
          %a 新刊通知キーワード設定
      %p 読書目標
      %ul
        %li
          %a 読書目標の設定
  %aside.right-side--bottom
    .ad-300-250
