.page--right-side {
  float: right;
  padding-left: 30px;
  width: 300px;
  .right-side--top {
    margin-bottom: 10px;
    position: relative;
    .ad-300-600 {
      background-image: image-url("ad-300-600-1.jpeg");
      height: 600px;
      width: 300px;
    }
  }
  dl.right-side--main {
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 10px 0;
    padding: 15px;
    dt {
      background-color: #fff;
      border: 3px #4ea6cc solid;
      border-radius: 10px;
      color: #555;
      font-size: 14px;
      font-weight: bold;
      line-height: 21px;
      margin-bottom: 15px;
      padding: 10px 15px;
      text-align: center;
    }
    dd {
      font-size: 12px;
      line-height: 1.4ex;
      p {
        background-color: #f0f0f0;
        border: 3px #cdcdcd solid;
        border-bottom: 1px #cdcdcd solid;
        border-radius: 10px 10px 0 0;
        color: #888;
        font-size: 12px;
        font-weight: bold;
        line-height: 18px;
        padding: 6px 17px;
        text-align: center;
      }
      ul {
        margin-bottom: 20px;
        li {
          background-color: #fff;
          border-left: 3px #cdcdcd solid;
          border-bottom: 1px #cdcdcd dotted;
          border-right: 3px #cdcdcd solid;
          position: relative;
          a {
            color: #555;
            display: block;
            font-weight: bold;
            line-height: 1.4em;
            padding: 10px 17px;
          }
          a.sns {
            display: inline-block;
            padding-right: 0;
          }
          .bl-twitter-square {
            color: #2298cc;
            font-size: 19px;
          }
          .bl-facebook-square {
            color: #3b5998;
            font-size: 19px;
          }
        }
        li:hover {
          background-color: #f0f0f0;
          cursor: pointer;
        }
        li:last-child {
          border-bottom: 3px #cdcdcd solid;
          border-radius: 0 0 10px 10px;
        }
      }
    }
  }
  .right-side--bottom {
    position: relative;
    .ad-300-250 {
      background-image: image-url("ad-300-250-1");
      height: 250px;
      width: 300px;
    }
  }
}
