.book-wrapper {
  width: 650px;
  height: 445px;
  background-color: white;
  border-radius: 3px;
  float: left;
  margin-bottom: 20px;
  padding-top: 30px;
  .book-profile-top {
    @include clearfix();
    height: 399px;
    margin-bottom: 20px;
    .book-profile-left {
      @include clearfix();
      width: 170px;
      height: 355px;
      padding-left: 20px;
      float: left;
      text-align: center;
      position: relative;
      .book-thumbnail {
        width: 170px;
        height: 245px;
        margin-bottom: 10px;
      }
      .write-review-button{
        width: 130px;
        height: 41px;
        margin-bottom: 20px;
      }
      .archive-book-button-hidden {
        position: absolute;
        font-size: 12px;
        width: 190px;
        background-color: #fff;
        border :5px #4ea6cc solid;
        top: 300px;
        left: 40px;
        display: none;
        z-index: 99998;
        li {
          line-height: 1.4em;
          padding: 7px 10px;
          border-bottom:1px #cdcdcd solid;
          color: #555;
          font-weight: bold;
          .reading-status-button {
            text-align: left;
            width: 100%;
            height: 100%;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
            color: #555;
            background-color: #fff;
            text-indent: -9999px;
          }
          p {
            margin-top: -18px;
            width: 100%;
            height:18px;
          }
        }
        li:hover {
          p {
            color: #4ea6cc;
          }
        }
        .is-public {
          background-color :#f0f0f0;
          font-weight: normal;
        }
      }
      .sns-button {
        ul {
          li {
            display: inline-block;
            width: 30px;
            height: 30px;
            padding: 0 5px;
            img {
              display: inline-block;
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
     .book-profile-right {
      @include clearfix();
      width: 410px;
      padding-left: 30px;
      padding-right: 20px;
      float: right;
      .book-title {
        font-size: 34px;
        line-height: 38px;
        margin-bottom: 10px;
      }
      .book-author {
        font-size: 12px;
        margin-bottom: 10px;
      }
      .book-about-publish {
        font-size: 14px;
        margin-bottom: 10px;
      }
      .book-rate {
        height: 28px;
        margin-bottom: 10px;
        .rating {
          display: inline-block;
          vertical-align: top;
          font-size: 20px;
          padding-left: 5px;
          color: #f5b629;
          text-align: left;
          .rating-icon {
            color: #4ea6cc;
            display: inline-block;
            font-size: 20px;
          }
        }
      }
      .book-about-number {
        font-size: 12px;
        margin-bottom: 15px;
        ul {
          li {
            display: inline-block;
            .user-icon {
              color: #da4740;
              font-size: 17px;
            }
            .review-icon {
              color: #4ea6cc;
              font-size: 17px;
            }
            .archive-number {
              color: #da4740;
              font-size: 15px;
              font-weight: bold;
            }
            .review-number {
              color: #4ea6cc;
              font-size: 15px;
              font-weight: bold;
            }
          }
        }
      }
      .book-purchase {
        width: 410px;
        height: 150px;
        a {
          .amazon-purchase-button {
            display: inline-block;
            border: 1px #caab5a solid;
            padding: 10px 30px;
            background-color: #f1c448;
            background-image:linear-gradient(to bottom, #f7e2a3,#f1c448);
            border-radius: 3px;
          }
          .kindle-purchase-button {
            margin-left: 20px;
            display: inline-block;
            border :1px #cdcdcd solid;
            padding: 10px 13px;
            background-color: #f1eee6;
            background-image:linear-gradient(to bottom, #ffffff,#f1eee6);
            border-radius: 3px;
          }
          .amazon-purchase-button:hover {
            border: 1px #b18c2c solid;
          }
          .kindle-purchase-button:hover{
            border: 1px #999 solid;
          }
        }
        .button-others {
          li {
            width: 90px;
            height: 14px;
            margin: 5px;
            display: inline-block;
            padding: 10px 10px;
            border: 1px #cdcdcd solid;
            border-radius: 3px;
            a {
              img {
                width: 90px;
                height: 17px;
              }
            }
            .other-store-button {
              vertical-align: top;
              font-size: 12px;
              text-decoration: none;
              color: gray;
            }
          }
          li:hover {
            border: 1px #999 solid;
          }
        }
      }
    }
  }

  .book-profile-bottom {
    width: 610px;
    height: 20px;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    .create-embedded-link {
      float: left;
    }
    .media-info {
      float: right;
      color:#bbb;
    }
    .ISBN-code {
      float: right;
      color:#bbb;
    }
  }
}

.archive-book-button {
  width: 130px;
  height: 41px;
  margin-bottom: 20px;
  background-image: url('/assets/archive_button.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
.archive-book-button__search-page {
  width: 210px;
  height: 65px;
}
