.book-search-list {
  table {
    background-color: $mainWhiteColor;
    border-left: 5px $mainBlackColor solid;
    border-right: 5px $mainBlackColor solid;
    margin-top: -20px;
    width: 100%;
    tr {
      td {
        ul {
          @include clearfix();
          li {
            float: left;
          }
        }
      }
    }
    .book-search-list-sort {
      background-color: #e8f6f5;
      border-bottom: 5px $mainBlackColor solid;
      height: 50px;
      width: 100%;
      td {
        padding: 15px;
        ul {
          li {
            font-size: 12px;
            padding-right: 7px;
          }
          .sort-how-to {
            font-weight: bold;
          }
          .sort-recommend {
            font-weight: bold;
            color: #CC0000;
          }
          .sort-released-on {
            color: $linkBlueColor;
          }
        }
      }
    }
    .book-search-list-item-overview {
      border-bottom: 1px $mainGlayColor solid;
      .overview-title {
        color: $mainBlackColor;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        padding: 10px 140px 0 20px;
        text-decoration: underline;
      }
      ul {
        padding: 10px 0 10px 20px;
        li, a, .slash {
          float: left;
          font-size: 12px;
          padding-right: 6px;
        }
        .overview-review-count {
          color: #da4740;
          font-weight: bold;
          padding-right: 10px;
        }
        .overview-review-rate {
          color: #f58c29;
          font-weight: bold;
          padding-right: 10px;
        }
        .overview-review-body-count {
          color: $linkBlueColor;
          font-weight: bold;
        }
        .fa-amazon {
          font-size: 12px;
        }
      }
    }
    .book-search-list-main {
      border-bottom: 5px $mainBlackColor solid;
      &__item-wrapper {
        background-color: #f0f0f0;
        height: 210px;
        width: 190px;
        text-align: center;
        img {
          border: none;
          box-shadow: rgba(0, 0, 0, 0.2) -3px 3px 6px 0, rgba(0, 0, 0, 0.2) 3px 3px 6px 0;
          vertical-align: middle;
          max-height: 142px;
          max-width: 100px;
        }
      }
      &__btn-wrapper {
        text-align: center;
        .archive-item-area {
          img {
            width: 210px;
            height: 65px;
            margin-bottom: 15px;
          }
          .archive-item-button {
            width: 210px;
            height: 65px;
            margin-bottom: 20px;
            background-image: url('/assets/archive_button.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
          }
        }
        .archive-privately-item-area {
          .archive-privately-item-button {
            width: 144px;
            height: 41px;
            background-image: url('/assets/privately_item_button.png');
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
