// initialize

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

h3 {
  font-size: 12px;
  font-weight: bold;
}

button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
}


// common

//main contents style

.main-wrapper {
  width: 100%;
  background-color: rgb(253, 250, 237);
  position: relative;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
  overflow: hidden;

  .main-navbar {
    width: 980px;
    height: 16px;
    margin: 0 auto 20px;
    padding-top: 20px;
    font-size: 12px;

    .main-navbar__link {
      font-size: 12px;
      color: #4ea6cc
    }
  }

  .main-contents {
    width: 980px;
    height: calc(100% - 52px);
    margin: 16px auto;

    .contents-left {
      width: 650px;
      float: left;

      .description {
        font-size: 12px;
        margin-bottom: 20px;
      }
      h1 {
        font-size: 34px;
      }
      .contents-search-form {
        background: rgba(78, 166, 204, 0.2);
        margin-bottom: 20px;
        input, select {
          display: inline-block;
          margin: 10px;
          vertical-align: middle;
          height: 30px;
        }
        input {
          width: 230px;
          font-size: 14px;
          border: 1px #1e1e1e solid;
          border-radius: 3px;
          padding-left: 20px;
        }
        .main-search-button {
          width: 76px;
          height: 34px;
          background-color: #4ea6cc;
          display: inline-block;
          margin: 10px;
          border-radius: 3px;
          .search-icon {
            color: white;
            font-size: 14px;
          }
        }
        .main-search-button:hover {
          background-color: black;
        }
      }
      .contents-search-form__search-page {
        background-color: inherit;
        .contents-search-form-description {
          font-size: 14px;
          margin: 20px 0;
        }
        input {
          margin-left: 0;
        }
      }
      .reading-status-title {
        font-size: 12px;
        margin-bottom: 20px;
      }
      .mybooks-by-reading-status {
        width: 650px;
        height: 260px;
        border: 1px #cdcdcd solid;
        border-top: 3px #1e1e1e solid;
        background-color: white;
        margin-bottom: 20px;
      }
      .tab-menu {
        height: 35px;
        border-bottom: 5px #1e1e1e solid;
        overflow: hidden;
        margin-bottom: 20px;
        li {
          display: inline-block;
          font-size: 12px;
          border:1px #cdcdcd solid;
          padding: 10px;
          background-color: white;
          margin-right: 5px;
          min-width: 70px;
          text-align: center;
        }
        .current,.all-type {
          background-color: black;
          color: #f0f0f0;
          border: 1px #1e1e1e solid;
        }
        .friend-time-line:hover, .type-paper:hover {
          background-color: #4ea6cc;
          color: #f0f0f0;
        }

        .my-time-line:hover, .type-kindle:hover {
          background-color: #4ea6cc;
          color: #f0f0f0;
        }
      }

      .timeline {
        width: 650px;

        .timeline-list {
          width: 650px;

          li {

            .contents-header {
              height: 36px;

              .thumbnail-wrapper {
                width: 32px;
                height: 32px;
                margin-left: 10px;
                background-color: white;
                border: 1px #cdcdcd solid;
                display: inline-block;
                border-radius: 3px;

                img {
                  width: 30px;
                  height: 30px;
                  margin-top: 1px;
                  margin-left: 1px;
                }

              }

              .thumbnail-wrapper:hover {
                border: 1px #4ea6cc solid;
              }

              .timeline-notice {
                height: 32px;
                margin-left: 10px;
                font-size: 12px;
                display: inline-block;
                vertical-align: middle;

                .book-link {
                  color: #4ea6cc;
                  text-decoration: none;
                }
                .timestamp {
                  color: #999;
                }

              }

            }

            .contents-body-wrapper {
              height: calc(100% - 36px);

              .contents-body {
                width: 600px;
                border: 1px solid #ccc;
                background-color: #eee;
                margin-left: 49px;

                .body-inner {
                  margin-left: 10px;

                  .book-info {
                    margin-top: 10px;
                    margin-bottom: 10px;

                    img {
                      width: 51px;
                      height: 75px;
                      float: left;
                    }

                    ul {
                      float: right;
                      width: 520px;
                      height: 75px;

                      li {
                        height: 14px;
                      }

                      .book-title {
                        margin-bottom: 5px;
                      }

                      .book-rate {
                        font-size: 12px;
                        margin-bottom: 15px;

                        .review-number {
                          color: red;
                        }

                        .rate {
                          color: orange;
                        }

                      }

                      .book-detail {
                        font-size: 12px;
                      }

                    }

                  }

                  .review {
                    border: 1px solid #ccc;
                    margin-right: 10px;
                    margin-bottom: 10px;

                    .review-body {
                      background-color: white;
                      padding:10px;
                      font-size: 12px;
                    }

                    .review-footer {
                      height: 32px;
                      background: rgba(78, 166, 204, 0.1);
                      font-size: 12px;

                      p {
                        display: inline-block;
                        margin-left: 10px;
                        line-height: 32px;
                        color: orange;
                      }

                      a {
                        font-size: 12px;
                        color: #4ea6cc;
                        display: inline-block;
                        margin-left: 10px;
                        text-decoration: none;
                      }

                    }

                  }

                  .like-wrapper {
                    height: 25px;
                    margin-bottom: 10px;

                    a {
                      display: inline-block;

                      img {
                        width: 115px;
                      }

                    }

                    .like-counter {
                      padding: 0 5px;
                      background-color: #fff;
                      border: 1px #cdcdcd solid;
                      display: inline-block;
                      border-radius: 3px;
                      font-size: 12px;
                      line-height: 25px;
                      vertical-align: top;
                      position: relative;
                    }

                    .like-counter::before{
                      content: '';
                      position: absolute;
                      display: block;
                      width: 0;
                      height: 0;
                      left: -6px;
                      top:6px;
                      border-right: 5px solid #cdcdcd;
                      border-top: 5px solid transparent;
                      border-bottom: 5px solid transparent;
                    }

                    .like-counter::after{
                      content: '';
                      position: absolute;
                      display: block;
                      width: 0;
                      height: 0;
                      left: -4px;
                      top: 6px;
                      border-right: 5px solid #fff;
                      border-top: 5px solid transparent;
                      border-bottom: 5px solid transparent;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  aside.ad-footer {
    margin: 30px auto;
    background-image: image-url("ad-728-90-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    .ad-728-90 {
      height: 90px;
      width: 728px;
    }
  }
}




.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
