.review-edit-page-book-wrapper {
  width: 610px;
  height: 118px;
  background-color: #f0f0f0;
  padding: 20px;
  border-top: 5px #333 solid;
  margin-bottom: 10px;
  .review-edit-page-book-thumbnail {
    width: 50px;
    height: 62px;
  }
  &__left {
    width: 50px;
    height: 98px;
    float: left;
  }
  &__right {
    float: right;
    width: 530px;
    height: 113px;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 10px 12px;
        color: #fff;
        font-size: 12px;
        margin: 10px;
      }
      a:hover{
        background-color: $mainBlackColor;
      }
      .button--red {
        background-color: #da4740;
      }
      .button--yellow{
        background-color: #f5b629;
      }
      .button--blue {
        background-color: #4ea6cc;
      }
    }
  }
}

table {
  background-color: #fff;
  margin: 0 0 35px;
  width: 100%;
  tbody {
    tr {
      border-bottom: 1px #cdcdcd solid;
      font-size: 13px;
      th {
        background-color: #e8f6f5;
        color: #656565;
        font-weight: bold;
        padding: 25px;
        text-align: left;
        width: 150px;
        span {
          color: #cdcdcd;
          font-size: 10px;
          font-weight: bold;
        }
      }
      .best01 {
        background-color: #da4740;
        color: #fff;
      }
      .best02 {
        background-color: #f58c29;
        color: #fff;
      }
      .best03 {
        background-color: #89c600;
        color: #fff;
      }
      td {
        @include clearfix();
        padding: 25px;
        width: 400px;
        img {
          background-color: #fff;
          display: inline-block;
          float: left;
          height: 30px;
          padding: 2px;
          width: 30px;
        }
        .avatar-input {
          float: right;
          width: 330px;
        }
        .textarea--user-profile {
          max-height: 400px;
          min-height: 200px;
        }
        input[type='radio'] {
          display: none;
        }
        input[type="radio"]:checked + label {
          background: $mainBlackColor;
          color: #ffffff;
        }
        .reading-status-label {
          display: table-cell;
          border: 1px solid #1e1e1e;
          padding: 7px 7px;
        }
        .review-rate-label {
          display: table-cell;
        }
        ul {
          margin: 8px 0 0 20px ;
          li {
            color: silver;
            font-size: 11px;
            list-style: circle;
            margin-bottom: 3px;
            em {
              color: #CC0000;
              font-weight: bold;
            }
          }
        }
        .input__title {
          margin-top: 10px;
          em {
            color: #CC0000;
            font-weight: bold;
          }
        }
        .best-change-btn {
          margin-top: 10px;
          a {
            background-color: #4ea6cc;
            border: none;
            border-radius: 5px;
            color: #fff;
            display: inline-block;
            font-size: 12px;
            padding: 10px 20px;
          }
        }
      }
    }
  }
}


.user-edit-page__form {
  float: left;
}

.review-edit-tab-menu {
  height: 40px;
  border-bottom: 5px #1e1e1e solid;
  overflow: hidden;
  &__list {
    li {
      list-style: none;
      display: inline-block;
      padding: 10px;
      margin-right: 11px;
    }
    .tab {
      background-color: $mainWhiteColor;
      border: 1px #cdcdcd solid;
      a {
        color: #555;
      }
    }
    .tab:hover {
      background-color: #4ea6cc;
      a {
        color: $mainWhiteColor;
      }
    }
    .tab-active {
      background-color: $mainBlackColor;
      a {
        color: $mainWhiteColor;
      }
    }
  }
}

.review-edit-submit-button {
  font-size: 12px;
  height: auto;
  margin: 0 auto;
  padding: 10px 20px;
  width: auto;
}

.review-edit-submit-button:hover {
  background-color: $mainBlackColor;
}
